.hero-html {
  --size: 12rem;

  font-size: var(--size);
  justify-content: center;
  line-height: var(--size);
}

/* TODO(trueberryless/HiDeoo): Remove example */
.starlight-sidebar-topics-current .starlight-sidebar-topics-icon {
    background: white;
}
