---
import { Aside } from '@astrojs/starlight/components'
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
---

<StarlightPage frontmatter={{ title: 'Custom - Unlisted without sidebar', template: 'splash' }}>
  <p>
    This custom page using the <code>splash</code> template is not listed in any topic sidebar configuration and is not associated
    with any topic through the <code>topic</code> frontmatter field.
  </p>
  <Aside>
    This page exists solely for demonstration purposes and contains no useful information. See the Starlight Sidebar
    Topics plugin <a href="/docs/getting-started/">documentation</a> for more information.
  </Aside>
</StarlightPage>
